<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sitio simple</title>
</head>
<body id="background">
  <div style="width: 250px; display: flex;">
    <form>
      <input id="text-input" type="text" placeholder="Ingrese un texto">
      <button class="change-color">Cambiar color</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='sitio-simple.js') }}"></script>
</body>
</html>